<div class="container">
  <form [formGroup]="myForm">
    <div class="row mt-8">
      <div class="lg:col-4 col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="First Name" formControlName="firstName" [minLength]="5">
        </div>
      </div>
      <div class="lg:col-4 col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Last Name" formControlName="lastName" [minLength]="5">
        </div>
      </div>

      <div class="lg:col-4 col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">@</span>
          <input type="text" pInputText placeholder="Email" formControlName="email">
        </div>
      </div>
    </div>
  </form>

  <div class="row mt-4">
    <div class="col-12 text-right">
      <button pButton type="button" label="Submit"
              [ngClass]="isSuccess ? 'p-button-success' :  'p-button-danger'"
              (click)="createUser()"
              [disabled]="!isSuccess"
      ></button>
    </div>
  </div>
  <div class="row mt-8">
    <div class="lg:col-4" *ngFor="let user of users">
      <p-panel header="{{user?.firstName + ' ' + user?.lastName}}" [toggleable]="true">
        {{user.email}}
      </p-panel>
    </div>  </div>
</div>




